<!-- this is my first time using binding here; -->
  <div>
    <h3>DAY1---> DataBinding:</h3>
    interpolation:<p>{{name}}</p>
    property binding:<p [innerText] = "name+'these are string connected' "></p>
    event binding : <button (click) = 'buttonHoverd()'>click me wont change anything</button><p>Button wont count ur click, {{count}} times( try hover failed fix latter)</p>
    two way binding:  try enter Email: <input type="text" [(ngModel)]="emailAddress" />
    you entered your Email as: {{emailAddress}}<br/>
    <h3> DAY2---> CUSTOMIZED DIRECTIVE:</h3>
    Try change backgroundColor and show input with console:<br/>
    <input type="text" appInputDirective/>
  </div>
<!-- this is Day2 clock -->
  <div style="border: 5px solid black; text-align: center;">
    <h5>NJ Time:</h5>
    
    {{ RootTime | date: 'hh:mm:ss a' }}
    <br>
    <h5>London Time: </h5>
   
    {{ LondonTime | date: 'hh:mm:ss a' }}
    <br/>
    BUT THIS VERSION WONT AUTOCHANGE FOR LONDON TIME
    <!-- {{datePipeTime}} -->
  </div>
 <!-- app-router added -->
  <main>
    <a mat-button routerLink="/clock" routerLinkActive="mat-accent">clock</a> <br>
    <a mat-button routerLink="" routerLinkActive="mat-accent">first-component</a> <br>
    <a mat-button routerLink="/crud" routerLinkActive="mat-accent">first-component</a> <br>
    <router-outlet></router-outlet>
  </main>
  <!-- <app-first-component></app-first-component>
  <app-clock></app-clock>
 <app-crud></app-crud> -->

  